@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Ramabhadra&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 768px) {
  svg {
    height: 90%;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  @apply bg-primary scrollbar-hide text-txt;
}

@layer components {
  .flex-center {
    @apply flex justify-center items-center;
  }
}

.tooltiptext {
  visibility: hidden;
  opacity: 0;
  min-width: fit-content;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.nav-hidden {
  top: -100%;
}

a {
  -webkit-tap-highlight-color: transparent;
}

button {
  -webkit-tap-highlight-color: transparent;
}

.chapter-button {
  @apply h-auto w-20 scale-100 rounded-full border-[1px] text-center md:w-40 md:scale-90 md:rounded-3xl md:border-2 md:p-3 md:text-2xl;
}

.search-box {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-100%, 0%);
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  @apply h-12;
}

.search-box:hover > .search-text {
  width: 240px;
  padding: 0 19px;
  @apply py-2;
}

.search-box:hover > .search-btn {
  background: white;
  color: black;
}

.search-btn {
  color: #e84118;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
  text-decoration: none;
  @apply h-12 w-12;
}
.search-btn > i {
  fontsize: 30px;
}

.search-text {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  font-weight: normal;
  transition: 0.4s;
  line-height: 30px;
  width: 0px;

  /*   width: 250px; */
}

.title-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.banner {
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
}

.dots {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  margin-left: 2px;
  margin-bottom: 1px;
}
